# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.DbCompanyPc.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CSharp\DbCompanyPc\.idea\.idea.DbCompanyPc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
